Vigitel-2006-peso-rake.xls
Vigitel-2007-peso-rake.xls
Vigitel-2008-peso-rake.xls
Vigitel-2009-peso-rake.xls
Vigitel-2010-peso-rake.xls
Vigitel-2011-peso-rake.xls
Vigitel-2012-peso-rake.xls
Vigitel-2013-peso-rake.xls
Vigitel-2014-peso-rake.xls
Vigitel-2015-peso-rake.xls
Vigitel-2016-peso-rake.xls
Vigitel-2017-peso-rake.xls
Vigitel-2018-peso-rake.xls
Vigitel-2019-peso-rake.xls
Vigitel-2020-peso-rake.xls
Vigitel-2021-peso-rake.xls
Vigitel-2023-peso-rake.xlsx

